<h2 class="govuk-heading-l">
   
    Sprint 4
   <br> <strong class="govuk-tag govuk-tag--blue"  style="white-space: nowrap;">Current sprint</strong>
</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
         <h3 class="govuk-heading-m">
              Alpha
         </h3>

         <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://lucid.app/lucidspark/9eece94e-7dd1-4974-bb6d-677a4ce9eae1/edit?view_items=EWj6YVyil8uc&invitationId=inv_216f8dd2-3996-4140-b41d-656e5e672991#" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">ROI design artifacts (opens in a new tab)</a></li>
              <li><a href="https://docs.google.com/presentation/d/1ZDwT7qJisGEytJDTIeqVvOc-u56H-KBtQB6mC8gmZ_k/edit?usp=sharing" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">UR slide deck (opens in a new tab)</a></li>
            </ul>
           

         <h3 class="govuk-heading-m">
              Initial analysis
         </h3>
         {{ govukDetails({
              summaryText: "Sprint design goals",
              html: "<table class='govuk-table'>
                   <thead class='govuk-table__head'>
                        <tr class='govuk-table__row'>
                             <th scope='col' class='govuk-table__header'>What we're doing</th>
                             <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                        </tr>
                   </thead>
                   <tbody class='govuk-table__body'>
                        <tr class='govuk-table__row'>
                             <td class='govuk-table__cell'>Refining the ROI tool clickable prototype based on recent research to test with employers.</td>
                             <td class='govuk-table__cell'>To improve and better match user and business needs.</td>
                        </tr>
                   </tbody>
              </table>"
         }) }}
         

         
    </div>
</div>
