

{% extends "layout.html" %}

{% block pageTitle %}
 
{% endblock %}

{% block content %}


<style>

     .margine {
          padding-left: 20px;
     }
</style>




<!-- Main content starts -->

<!-- Full width heading starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
               <!--<span class="govuk-tag">ALPHA</span><br>-->
               {{serviceName}} design history
          </h1>
     </div>
</div>
<!-- Full width heading ends -->

<!-- Two thirds header section starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-margin-top-6">
               What is {{serviceName}}?
          </h2>
          <p class="govuk-body">
               All documents and links are being collected on <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/3648946179/Return+on+Investment+-+ROI" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">this Confluence page (opens in a new tab)</a>.
          </p>
          <p class="govuk-body">
               This documents the Alpha and Beta phases of the {{serviceName}} project, 8 of June 2022 onwards.
          </p>

          <h2 class="govuk-heading-l govuk-!-margin-top-6">
               Who's working on this project?
          </h2>
          <ul class="govuk-list govuk-list--bullet">
               <li><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/~61fbb290aab3620070f66bd9/overview" title="Link to Heer's profile on Confluence">Heer Shah (opens in a new tab)</a> &ndash; User Researcher</li>
               <li><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/1070924516/Interaction+Design+Clan" title="Link to Victor's profile on Confluence">Victor Ivan (opens in a new tab)</a> &ndash; Interaction Designer</li>
               <li><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/people/624abb7ef813eb00692c3aac" title="Link to Jazzy's profile on Confluence">Jaspreet Bura (opens in a new tab)</a> &ndash; Content Designer</li>



          </ul>
     </div>
     <!-- Two thirds header section ends -->

     <!-- One third header section starts -->
     <div class="govuk-grid-column-one-third">
          <!--<h2 class="govuk-heading-m">
               <br>Design artefacts
          </h2>
          <div class="govuk-inset-text">
               <ul class='govuk-list govuk-list--bullet'>
                    <li><a href='#' class='govuk-link govuk-link--no-visited-state'>Thing #1</a></li>
               </ul>
          </div>-->
     </div>
     <!-- One third header section ends -->
</div>

<div class="govuk-grid-row">
     <!-- Full width header section starts -->
     <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <h2 class="govuk-heading-l">
               What are we doing and why?
          </h2>
          <p class="govuk-body">
               {{ govukDetails({
                    summaryText: "Project design goals",
                    html: "<table class='govuk-table'>
                         <thead class='govuk-table__head'>
                              <tr class='govuk-table__row'>
                                   <th scope='col' class='govuk-table__header'>What we're doing</th>
                                   <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                              </tr>
                         </thead>
                         <tbody class='govuk-table__body'>
                              <tr class='govuk-table__row'>
                                   <td class='govuk-table__cell'>We're building clickable prototypes of the ROI tool to test with Employers.</td>
                                   <td class='govuk-table__cell'>To account for all possible scenarios where return on investment is involved and test with real users for insights that will inform future design decisions.</td>
                              </tr>
                         </tbody>
                    </table>"
               }) }}
          </p>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<br><br>
          <h2 class="govuk-heading-l">
              Prototypes
          </h2>

          
    
         
          <table class="govuk-table govuk-table--small responsive">
               <thead class="govuk-table__head">
                 <tr class="govuk-table__row">
                   <th scope="col" class="govuk-table__header">Name</th>
                   <th scope="col" class="govuk-table__header">Version</th>
                   <th scope="col" class="govuk-table__header">Status</th>
                   <th scope="col" class="govuk-table__header margine">Notes</th>
                 </tr>
               </thead>
               <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                         <th scope="row" class="govuk-table__header"><a href="/sprint-1-beta/apphome.html" class="govuk-link govuk-link--no-visited-state">Apprenticeship funding calculator</a></th>
                         <th scope="row" class="govuk-table__header">1.1</th>
                         <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow"  style="white-space: nowrap;">In progress</strong></td>
                         <td class="govuk-table__cell margine">Journey built as defined in <a class="govuk-link--no-visited-state" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/RET-112?atlOrigin=eyJpIjoiMzIyYTIwNWQ1ZGY4NGVlYTgxNjJlYTkxNTE5MmI1MzgiLCJwIjoiaiJ9">this Jira ticket. (opens in a new tab)</a></td>
                       </tr>
                    <tr class="govuk-table__row">
                         <th scope="row" class="govuk-table__header"><a href="/sprint-0-beta/apphome.html" class="govuk-link govuk-link--no-visited-state">Apprenticeship funding/benefits calculator</a></th>
                         <th scope="row" class="govuk-table__header">1.0</th>
                         <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue"  style="white-space: nowrap;">Testing</strong></td>
                         <td class="govuk-table__cell margine">Journey built as defined in <a class="govuk-link--no-visited-state" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/RET-112?atlOrigin=eyJpIjoiMzIyYTIwNWQ1ZGY4NGVlYTgxNjJlYTkxNTE5MmI1MzgiLCJwIjoiaiJ9">this Jira ticket. (opens in a new tab)</a></td>
                       </tr>
                    <tr class="govuk-table__row">
                         <th scope="row" class="govuk-table__header"><a href="/sprint-4-alpha/apphome.html" class="govuk-link govuk-link--no-visited-state">ROI tool</a></th>
                         <th scope="row" class="govuk-table__header">1.1</th>
                         <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"  style="white-space: nowrap;">Tested</strong></td>
                         <td class="govuk-table__cell margine">Journey built as defined in <a class="govuk-link--no-visited-state" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/RET-100?atlOrigin=eyJpIjoiYzVlNTJkMzc1OTI1NDI1YmE1YmZlOTA4YTdlMGQ1MzMiLCJwIjoiaiJ9">this Jira ticket. (opens in a new tab)</a></td>
                       </tr>
                  
                       <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header"><a href="/sprint-3-alpha/apphome.html" class="govuk-link govuk-link--no-visited-state">ROI tool</a></th>
                   <th scope="row" class="govuk-table__header">1.0</th>
                   <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"  style="white-space: nowrap;">Tested</strong></td>
                   <td class="govuk-table__cell margine">Journey built as defined in <a class="govuk-link--no-visited-state" target="_blank" href="https://skillsfundingagency.atlassian.net/browse/RET-49?atlOrigin=eyJpIjoiNWJmNGQ0NmEwYWVmNGIxMTllMjkwMjc3ZjU3NDViNzEiLCJwIjoiaiJ9">this Jira ticket. (opens in a new tab)</a></td>
                 </tr>
               </tbody>
             </table>







    <br><br><br>

     </div>
     <!-- Full width header section ends -->
</div>


     <!-- Sprints section starts -->
     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
               {% include './sprint-0-beta/_summary.html' %}
     
     
     
               <h2 class="govuk-heading-l govuk-!-margin-top-9">
                    Previous sprints and archive
               </h2>
               {% set sprint4alphaHtml %}
               {% include './sprint-4-alpha/_summary.html' %}
               {% endset %}
               {% set sprint3alphaHtml %}
               {% include './sprint-3-alpha/_summary.html' %}
               {% endset %}
              
     
     
               {{ govukAccordion({
                    id: "accordion-default",
                    items: [
                      
                    {
                         heading: {
                              text: "Sprint 4 Alpha"
                         },
                         content: {
                              html: sprint4alphaHtml
                         },
                         summary: {
                              html: '22 June — 5 July 2022'
                         }
                    },
                    
                    {
                         heading: {
                              text: "Sprint 3 Alpha"
                         },
                         content: {
                              html: sprint3alphaHtml
                         },
                         summary: {
                              html: '08 June — 21 June 2022'
                         }
                    }
                    ]
               }) }}
     
          </div>
       <!-- Sprints section ends -->
     </div>
     
     <!-- Main content ends -->
     {% endblock %}